version: '3.8'

services:
  db:
    image: postgres:15
    environment: 
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: adminpassword
        POSTGRES_DB: bookfast
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  pgadmin:
    image: dpage/pgadmin4
    environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      -  db
  
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
        - db
    environment:
        DATABASE_URL: postgresql+asyncpg://admin:adminpassword@db:5432/bookfast
    volumes:
      - .:/code
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data: